@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

*, html {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0e0e0e;
}