body {
    background-color: #000;
}
.wrap {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.login-box {
    width: 550pxx;
    text-align: center;
}
.login-box h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
}
.login-box h3 {
    font-size: 1.4rem;
    color: #525252;
    margin-top: 15px;
    margin-bottom: 40px;
}