.wrap {
    width: 100%;
    height: 100dvh;
    padding: 50px 30px;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-box {
    width: 550px;
    text-align: center;
}
.login-box h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
}
.login-box h3 {
    font-size: 1.4rem;
    color: #525252;
    margin-top: 15px;
    margin-bottom: 40px;
}
.inputs {
    margin-bottom: 30px;
}
.submit {
    margin-top: 40px;
    width: 100%;
    padding: 22px;
    font-size: 1.4rem;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #258FE5;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    margin-top: 60px;
}
.submit:disabled {
    filter: brightness(0.5);
}
.error {
    text-align: left;
    margin: 0 0 30px 0;
    color: #EA6666;
    font-size: 1.1rem;
}