.wrap {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.signup-box {
    width: 550pxx;
    text-align: center;
}
.signup-box h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
}
.signup-box h3 {
    font-size: 1.4rem;
    color: #525252;
    margin-top: 15px;
    margin-bottom: 40px;
}
.inputs {
    margin-bottom: 30px;
}
.submit {
    margin-top: 40px;
    width: 100%;
    padding: 22px;
    font-size: 1.4rem;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #258FE5;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    margin-top: 60px;
}

@media screen and (max-width: 700px) {
    .wrap {
        margin: 100px 0;
        padding: 0 30px;
    }
    .signup-box  {
        width: 100% !important;
    }
}